body {
  background-color: #009f0d;
}

.pure-u-1-5 {
  background-color: #009f0d;
}

#draftContainer {
  background-color: #009f0d;
}

#balltext {
  color: #E5D7AA;
  padding-top: 0;
  font-family: 'Racing Sans One', cursive;
  font-size: 46px;

}

#textbox {
  float:center;
}

.bg {
  background: url("../img/baseball-diamond-37200_1280.png")  no-repeat;
  height: 1000px;
  width: 100%;
  text-align: center;
  margin-top: 5em;
}

#hometeam {
  background-color: #022E5E;
  border: solid 8px #E8971D;
  color: #DF7079;
  font-family: 'Racing Sans One', cursive;

}

#awayTeam {
  background-color: #062635;
  border: solid 8px #DA4321;
  color: #EEEBD8;
  font-family: 'Racing Sans One', cursive;

}

.draftCard {
  float:left;
}

.pure-u-1-5 {
  float:left;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 1em;
}

#myModal {
  display: none;

}

.draftCard img {
  padding-top: 0.5em;
  padding-left: 0.5em;
}

.CHC {
  background-color: #002F6C;
  border: solid 7px #C8102E;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 1em;
  height: 8.5em;
}

.MIA {
  background-color: #F9423B;
  border: solid 7px #FCDE04;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 1em;
  height: 8.5em;

}

.ATL {
  background-color: #002855;
  border: solid 7px #BA0C2F;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 1em;
  height: 8.5em;

}

.BAL {
  background-color: #FC4C00;
  border: solid 7px #000000;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 1em;
  height: 8.5em;

}

.STL {
  background-color: #C41E3A;
  border: solid 7px #0A2252;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 1em;
  height: 8.5em;

}

#prev5 {
  margin-left: 30em;
  margin-top: 1.5em;
  float: left;
  font-family: 'Audiowide', cursive;
}

#next5 {
    margin-right: 30em;
    margin-top: 1.5em;
    float: right;
    font-family: 'Audiowide', cursive;
}


tr {
  margin-left: 3em;
}
td {
  width: 8em;
  height: 8em;
  border: none;
}

#buffer {
  height: 55px;
}

.logo {
  max-width:300px;
  /*float:left;*/
  position: relative;
  /*padding-top: 25px;*/
}

.logo img{
    position: relative;
    max-width: 300px;
    margin-top: 0px;
    padding-top: 0px;
    border-radius: 100%;
}

.home-menu, .pure-menu {
    /*padding-right: 2em;*/
    background-color: #010101;
    font-family: "Racing Sans One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
}


.home-menu .pure-menu, .pure-menu-heading, .footer-menu {
    color: white;
    font-weight: 300;
    /*font-size: 120%;*/
}

.nav-link {
  color: #b4ccc0;
}

.one {
  font-family: "Racing Sans One", "Helvetica Neue", Helvetica, Arial, sans-serif;

  font-style: italic;
}
 .title {
   float:right;
   margin-right: 7em;
   font-size: 56px;
   color: #E5D7AA;
 }

.pure-menu-list {
  font-size: 24px;
}

#loginForms {
  margin-top: 10em;
  background-color: #010302;
  opacity: 0.7;
}

#landingspot {
  height: 1200px;
  background: url("../img/park-19445_1920.jpg") no-repeat;
}

.footer-menu {
    background-color: #010302;
    padding: 0.4em;
    padding-top: 1em;
    font-family: "Racing Sans One", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    /*position: fixed;*/
    /*bottom: 0.4em;*/
    width: 100%;
    /*border-top: 1px solid rgba(223, 86, 9, 0.99)*/
}

#login {
  display: none;
}

#newuser {
  display: none;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@font-face {
  font-family: 'fontello';
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot');
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.woff') format('woff'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf') format('truetype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}

.icon-home:after     { content: "\2302"; }
.icon-cog:after      { content: "\2699"; }
.icon-cw:after       { content: "\27f3"; }
.icon-location:after { content: "\e724"; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  margin: 0;
  padding: 0;
}

#playball {
  padding-top: 13em;
  padding-left: 18em;
}

#landingspot a:link, .nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #51626A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#51626A), to(#9BACA6));
  background-image: -webkit-linear-gradient(top, #51626A, #9BACA6);
  background-image: -moz-linear-gradient(top, #51626A, #9BACA6);
  background-image: -ms-linear-gradient(top, #51626A, #9BACA6);
  background-image: -o-linear-gradient(top, #51626A, #9BACA6);
  color: #DBC792;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

#landingspot a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

#landingspot a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

#landingspot a:hover {
  text-decoration: none;
  color: #555;
  background: #596D64;
}​

#leftForm {
  background-color: #9C9076;
}

form {
  position: relative;
  width: 250px;
  height: 280px;
  margin: 0 auto;
  background: #91AFB4;
  padding: 20px 22px;
  border-radius: 10%;
  border: 1px solid;
  border-top-color: rgba(255,255,255,.4);
  border-left-color: rgba(255,255,255,.4);
  border-bottom-color: rgba(60,60,60,.4);
  border-right-color: rgba(60,60,60,.4);
}

form input, form button {
  width: 212px;
  border: 1px solid;
  border-bottom-color: rgba(255,255,255,.5);
  border-right-color: rgba(60,60,60,.35);
  border-top-color: rgba(60,60,60,.35);
  border-left-color: rgba(80,80,80,.45);
  background-color: rgba(0,0,0,.2);
  background-repeat: no-repeat;
  padding: 8px 24px 8px 10px;
  font: bold .875em/1.25em "Audiowide", sans-serif;
  letter-spacing: .075em;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  margin-bottom: 19px;
}

form input:focus { background-color: rgba(0,0,0,.4); }

::-webkit-input-placeholder { color: #ffffff; text-transform: uppercase; }
::-moz-placeholder { color: #ffffff; text-transform: uppercase; }
:-ms-input-placeholder { color: #ffffff; text-transform: uppercase; }

form button[type=button] {
  width: 212px;
  margin-bottom: 0;
  color: #ffffff;
  letter-spacing: .05em;
  text-shadow: 0 1px 0 #133d3e;
  text-transform: uppercase;
  background: #070D0B;
  border-top-color: #9fb5b5;
  border-left-color: #608586;
  border-bottom-color: #1b4849;
  border-right-color: #1e4d4e;
  cursor: pointer;
}


#currentaccount {
  align-content: center;
  border-right: solid black 4px;
  background: #010302;
}

#newaccount {
  align-content: center;
  border-right: solid black 4px;
  background: #010302;
}

#lefthandaccount img {
  margin-top: 30px;
  margin-left: 12em;
}

#batforbids {
  color: red;
  font: bold 1.2em/1.25em "Audiowide", sans-serif;

}

#iForbid {
  align-content: center;
  border-right: solid black 4px;
  background: #91AFB4;
  height: 240px;
  width: 500px;
  border-radius: 15%;
}

#iForbid p {
  margin-top: 60px;
  font: bold 1.8em/1.25em "Audiowide", sans-serif;
  color: 	#B94140;
}
 #goBack {
   width: 212px;
   height: 60px;
   margin-bottom: 0;
   margin-left: 5em;
   color: #ffffff;
   letter-spacing: .05em;
   text-shadow: 0 1px 0 #133d3e;
   text-transform: uppercase;
   background: #070D0B;
   border-top-color: #9fb5b5;
   border-left-color: #608586;
   border-bottom-color: #1b4849;
   border-right-color: #1e4d4e;
   cursor: pointer;
   font: bold 1.8em/1.25em "Audiowide", sans-serif;

 }

 #namebar {
   margin-top: 0;
   font: bold 1.8em/1.25em "Racing Sans One", sans-serif;
   margin-left: 0px;
   padding: 10px;
   height: 240px;
   border-radius: 15%;
 }

 #namebar img {
   margin-left: 5.5em;
   border-radius: 25%;
 }

 #head-to-headLeagues {
   margin-top: 0;
   font: bold 1.8em/1.25em "Racing Sans One", sans-serif;
   margin-left: 0px;
   padding: 10px;
   height: auto;
   border-radius: 15%;
 }

 #rotisserieLeagues {
   margin-top: 0;
   font: bold 1.8em/1.25em "Racing Sans One", sans-serif;
   margin-left: 0px;
   padding: 10px;
   height: auto;
   border-radius: 15%;
 }
